// 3DMMEx: Microsoft Visual C++ generated resource script.
//
#include "winres.h"
#include "framedef.h"
#include "resource.h"
/// 3DMMEx: //////////////////////////////////////////////////////////////////////////
// 3DMMEx: English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/// 3DMMEx: //////////////////////////////////////////////////////////////////////////
//
// 3DMMEx: TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // 3DMMEx: APSTUDIO_INVOKED


/// 3DMMEx: //////////////////////////////////////////////////////////////////////////
//
// 3DMMEx: Menu
//

IDR_MENU1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       cidClose
    END
END

#endif    // 3DMMEx: English (United States) resources
/// 3DMMEx: //////////////////////////////////////////////////////////////////////////

/// 3DMMEx: ///////////////////////////////////////////////////////////////////////////
//
// 3DMMEx: Dialog
//

ASSERTDLG DIALOG DISCARDABLE  50, 50, 249, 136
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Assertion Failure"
FONT 10, "System"
BEGIN
    DEFPUSHBUTTON   "&Ignore",0,33,109,50,15
    PUSHBUTTON      "&Debugger",1,98,109,50,15
    PUSHBUTTON      "&Quit",2,163,109,50,15
    LTEXT           "Static",3,10,5,227,25
    LTEXT           "Static",4,10,38,227,34
    LTEXT           "Static",5,10,81,227,24
END

#ifndef APSTUDIO_INVOKED
/// 3DMMEx: //////////////////////////////////////////////////////////////////////////
//
// 3DMMEx: Generated from the TEXTINCLUDE 3 resource.
//


/// 3DMMEx: //////////////////////////////////////////////////////////////////////////
#endif    // 3DMMEx: not APSTUDIO_INVOKED

